#canvas {
  /*border: solid 1px purple;*/
  margin-left: 7%;
  margin-top: 5px;
  width: 82%;
/*
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: 125%;
  background-color: black;
  background-position: 38% 58%;
*/
  background-color: #777777;
  border: 3px solid #202020;
  overflow: visible;
  backface-visibility: visible;
/*Angle rond*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
/*Ombre*/
  -webkit-box-shadow: 5px 5px 14px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 14px -4px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 14px -4px rgba(0,0,0,0.75);
}

body{
  background: #373737;
  min-width: 830px;
}

.button {
    background-color: #563519;
    border: hidden;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 1% 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 2%;
    margin-left: 20px;
}

.heart{
	height: 35%;
  max-height: 50px;
}

.td_heart{

}

.inputScore{
  background: null;
}

.inputScore {
  width: 100px;
  border: solid 2px black;
  transition: border 0.3s;
  background: #BFBFBF;
  font-weight: bold;
  font-size: 13px;
  color: black;
}

.score{
  width: 50px;
  text-align: center;
}

.user{
  margin-left: 0%;
}

.tableCoeur{
  height: 38px;
  margin-top: 2%;
  margin-left: 1%;
}

#btn_ok{
  height: 19px;
    width: 45px;
    background-color: black;
    color: white;
    display: inline-block;
    text-align: center;
}
